@model NativaGaragem.Models.Vaga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vaga</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Carro.Modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Carro.Modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Garagem.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Garagem.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDVaga }) |
    @Html.ActionLink("Back to List", "Index")
</p>
