@model NativaGaragem.Models.Realizacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Realizacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Limpeza.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Limpeza.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Funcionario.Categoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Funcionario.Categoria)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDRealizacao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
