@model NativaGaragem.Models.Carro

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Carro</legend>

        @Html.HiddenFor(model => model.IDCarro)

        <div class="editor-label">
            @Html.LabelFor(model => model.Modelo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modelo)
            @Html.ValidationMessageFor(model => model.Modelo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Montadora)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Montadora)
            @Html.ValidationMessageFor(model => model.Montadora)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Placa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Placa)
            @Html.ValidationMessageFor(model => model.Placa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ano)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ano)
            @Html.ValidationMessageFor(model => model.Ano)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDGaragem, "Garagem")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDGaragem", String.Empty)
            @Html.ValidationMessageFor(model => model.IDGaragem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDCliente, "Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDCliente", String.Empty)
            @Html.ValidationMessageFor(model => model.IDCliente)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
