@model NativaGaragem.Models.Limpeza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Limpeza</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Valor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Valor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StatusAprovacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatusAprovacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataSolicitacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataSolicitacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataExecucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataExecucao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SituacaoExecucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SituacaoExecucao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDLimpeza }) |
    @Html.ActionLink("Back to List", "Index")
</p>
