@model NativaGaragem.Models.Realizacao

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Realizacao</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDLimpeza, "Limpeza")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDLimpeza", String.Empty)
            @Html.ValidationMessageFor(model => model.IDLimpeza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IDFuncionario, "Funcionario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IDFuncionario", String.Empty)
            @Html.ValidationMessageFor(model => model.IDFuncionario)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
