@model NativaGaragem.Models.Garagem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Garagem</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuantidadeVagas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuantidadeVagas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuantidadeVagasLivres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuantidadeVagasLivres)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Endereco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Endereco)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IDGaragem }) |
    @Html.ActionLink("Back to List", "Index")
</p>
